@media (max-width: 376px) {
  .desktop {
    display: none;
  }
  .mobile {
    font-family: sans-serif;
    display: block;
    max-width: 375px;
    .mobile-nav {
      z-index: 1;
      top: 0px;
      height: 50px;
      background: #ffffff;
      width: 375px;
      position: fixed;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .menu-inside {
        display: none;
      }
      i {
        color: #3f5d45;
        font-size: 20px;
        position: relative;
        display: inline-block;
      }

      .mobile-logo {
        margin-left: 8px;
        width: 165px;
        height: 40px;
      }
      .mobile-cart {
        width: 20px;
        height: 20px;
        position: relative;
      }
    }
    .mobile-container {
      position: relative;
      top: 48px;
      .mobile-login {
        position: relative;
        bottom: -12px;
        h1 {
          color: #eaf0ed;
          background: #3f5d45;
          font-size: 36px;
          padding: 30px 115px;
        }
        .login-way {
          display: flex;
          justify-content: center;
          padding: 30px;
          background: #eaf0ed;
          span {
            margin-right: 1px;
            display: inline-block;
            width: 105px;
            height: 56px;
            background: #ffffff;
            img {
              // -webkit-filter: grayscale(1);
              filter: saturate(10%);
              width: 105px;
              height: 56px;
              object-fit: contain;
            }
          }
        }
        .mobile-login-info {
          padding: 30px;
          background: #3f5d45;
          display: flex;
          flex-wrap: wrap;
          color: #eaf0ed;
          position: relative;
          i {
            color: #3f5d45;
            left: 50px;
            font-size: 24px;
            position: absolute;
          }
          .mobile-member {
            top: 45px;
          }
          .mobile-pd {
            top: 115px;
          }
          input {
            width: 315px;
            height: 56px;
            color: #8da291;
            margin-bottom: 16px;
            padding-left: 64px;
            outline: none;
            background: #eaf0ed;
            border: 0;
            font-size: 16px;
          }
          input:focus {
            outline: none;
          }
          .mobile-remember {
            width: 20px;
            height: 20px;
            margin-right: 8px;
          }
        }
        .mobile-login-button {
          display: inline-block;
          height: 56px;
          width: 100%;
          line-height: 56px;
          font-weight: bold;
          text-align: center;
          color: #3f5d45;
          font-size: 24px;
          background: #ffe180;
        }
      }
      .mobile-pages {
        display: flex;
        justify-content: center;
        width: 375px;
        span {
          display: inline-block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          border-right: 1px solid #eaf0ed;
          border-top: 1px solid #eaf0ed;
          border-bottom: 1px solid #eaf0ed;
          margin-bottom: 30px;
          color: #3f5d45;
          font-size: 20px;
          img {
            position: relative;
            top: 5px;
          }
        }
        span:nth-child(2) {
          background: #3f5d45;
          color: #eaf0ed;
        }
        span:nth-child(1) {
          border-left: 1px solid #eaf0ed;
        }
      }
      .mobile-product-class {
        position: relative;
        top: -5px;
        margin-bottom: 30px;
        ul {
          li {
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            line-height: 65px;
            width: 375px;
            height: 65px;
            color: #3f5d45;
            border-bottom: 1px solid #eaf0ed;
          }
          li:nth-child(1) {
            background: #3f5d45;
            color: #eaf0ed;
          }
          li:nth-child(2) {
            background: #eaf0ed;
          }
        }
      }
      .mobile-cards {
        display: flex;
        .mobile-card {
          position: relative;
          top: -5px;
          box-sizing: border-box;
          display: inline-block;
          width: 125px;
          height: 180px;
          writing-mode: vertical-lr;
          line-height: 125px;
          text-align: center;
          background-image: url(../img/p-3.png);
          a {
            display: inline-block;
            color: white;
            background: #3f5d45c4;
            width: 125px;
            height: 180px;
            transition: all 0.3s 0s ease;
            letter-spacing: 4px;
            font-size: 20px;
          }
          a:hover {
            background: #ffe180;
            color: #3f5d45;
            font-weight: bold;
          }
        }
        .mobile-card:nth-child(1) {
          border-right: 1px solid #ffffff;
          background-image: url(../img/p-6.png);
        }
        .mobile-card:nth-child(2) {
          border-right: 1px solid #ffffff;
          background-image: url(../img/p-4.png);
        }
      }
      .mobile-main-pic {
        width: 375px;
        height: 277px;
        object-fit: cover;
      }
      .mobile-intro {
        .mobile-intro-cards {
          li {
            img {
              width: 375px;
              height: 250px;
              object-fit: cover;
            }
            p {
              position: relative;
              top: -5px;
              padding: 30px 30px;
              background: #eaf0ed;
              color: #8da291;
              line-height: 32px;
            }
          }
          h1 {
            color: #3f5d45;
            font-size: 24px;
            text-align: center;
            width: 196px;
            height: 60px;
            padding: 30px 90px;
            margin-bottom: 15px;
            line-height: 40px;
            letter-spacing: 4px;
            span {
              position: relative;
              right: 20px;
            }
            span::after {
              position: absolute;
              left: 85px;
              top: 50%;
              content: "";
              width: 40px;
              height: 1px;
              background-color: #3f5d45;
              display: inline-block;
            }
          }
          .mobile-slogan-end {
            width: 226px;
            height: 60px;
            span {
              right: 40px;
            }
            span::after {
              left: 110px;
              width: 50px;
            }
          }
        }
      }
      .mobile-fav-list {
        ul {
          padding: 0 37.5px;
          li {
            .mobile-fav {
              position: absolute;
              padding-left: 20px;
              padding-right: 20px;
              span {
                writing-mode: vertical-lr;
                margin-right: 192px;
                background: #3f5d45;
                color: #eaf0ed;
                width: 38px;
                height: 107px;
                line-height: 38px;
                text-align: center;
                letter-spacing: 4px;
              }
              img {
                margin-right: 20px;
                margin-bottom: 70px;
                width: 20px;
                height: 20px;
              }
            }
            p {
              position: relative;
              top: -5px;
              width: 315px;
              display: flex;
              flex-wrap: wrap;
              box-sizing: border-box;
              margin-bottom: 30px;
              span:nth-child(1) {
                display: inline-block;
                width: 183px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                color: #3f5d45;
                font-size: 20px;
                border-right: 1px solid #eaf0ed;
                border-left: 1px solid #eaf0ed;
              }
              span:nth-child(2) {
                display: inline-block;
                width: 114px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                color: #3f5d45;
                font-weight: bold;
                font-size: 20px;
                border-right: 1px solid #eaf0ed;
              }
              span:nth-child(3) {
                display: inline-block;
                width: 300px;
                height: 56px;
                text-align: center;
                line-height: 56px;
                font-weight: bold;
                font-size: 24px;
                color: #3f5d45;
                background: #eaf0ed;
              }
            }
          }
        }
      }
    }
  }
  .mobile-footer {
    .mobile-mail {
      background: #3f5d45;
      padding: 30px 30px;
      .mobile-mail-top {
        font-size: 24px;
        line-height: 40px;
        color: #eaf0ed;
        height: 40px;
        display: flex;
        justify-content: center;
        .mobile-footer-logo {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
      }
      .mobile-mail-input {
        margin-top: 30px;
        height: 56px;
        position: relative;
        input {
          outline: none;
          font-size: 24px;
          width: 250px;
          height: 56px;
          padding-left: 60px;
        }
        img:nth-child(1) {
          position: absolute;
          left: 20px;
          top: calc(50% - 10px);
        }
        span {
          background: #ffe180;
          display: inline-block;
          width: 64px;
          height: 58px;
          position: absolute;
          right: 2px;
          top: 1px;
          img {
          }
        }
      }
    }
    .mobile-contact {
      background: #eaf0ed;
      padding: 30px;
      color: #3f5d45;
      font-size: 16px;
      p {
        line-height: 24px;
        margin-bottom: 40px;
      }
      img {
        width: 172px;
        height: 27px;
        margin-bottom: 40px;
      }
      .mobile-contact-social {
        display: flex;
        justify-content: left;
        height: 32px;
        margin-bottom: 23px;
        img {
          width: 32px;
          height: 32px;
          margin-right: 8px;
        }
      }
    }
  }
} ;
