@media (max-width: 376px) {
  .mobile {
    font-family: sans-serif;
    display: block;
  }
  .mobile .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 36px 0;
  }
  .mobile .mobile-nav i {
    color: #3f5d45;
    font-size: 20px;
  }
  .mobile .mobile-nav .mobile-logo {
    width: 115px;
    height: 18px;
  }
  .mobile .mobile-nav .mobile-cart {
    width: 24px;
    height: 24px;
  }
  .mobile .mobile-container .mobile-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile .mobile-container .mobile-cards .mobile-card {
    position: relative;
    top: -5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    width: 125px;
    height: 180px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    line-height: 125px;
    text-align: center;
    background-image: url(../img/p-3.png);
  }
  .mobile .mobile-container .mobile-cards .mobile-card a {
    display: inline-block;
    color: white;
    background: #3f5d45c4;
    width: 125px;
    height: 180px;
    -webkit-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
    letter-spacing: 4px;
    font-size: 20px;
  }
  .mobile .mobile-container .mobile-cards .mobile-card a:hover {
    background: #ffe180;
    color: #3f5d45;
    font-weight: bold;
  }
  .mobile .mobile-container .mobile-cards .mobile-card:nth-child(1) {
    border-right: 1px solid #ffffff;
    background-image: url(../img/p-6.png);
  }
  .mobile .mobile-container .mobile-cards .mobile-card:nth-child(2) {
    border-right: 1px solid #ffffff;
    background-image: url(../img/p-4.png);
  }
  .mobile .mobile-container .mobile-main-pic {
    width: 375px;
    height: 277px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards li img {
    width: 375px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards li p {
    position: relative;
    top: -5px;
    padding: 30px 30px;
    background: #eaf0ed;
    color: #8da291;
    line-height: 32px;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards h1 {
    color: #3f5d45;
    font-size: 24px;
    text-align: center;
    width: 196px;
    height: 60px;
    padding: 30px 90px;
    margin-bottom: 15px;
    line-height: 40px;
    letter-spacing: 4px;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards h1 span {
    position: relative;
    right: 20px;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards h1 span::after {
    position: absolute;
    left: 85px;
    top: 50%;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #3f5d45;
    display: inline-block;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards .mobile-slogan-end {
    width: 226px;
    height: 60px;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards .mobile-slogan-end span {
    right: 40px;
  }
  .mobile .mobile-container .mobile-intro .mobile-intro-cards .mobile-slogan-end span::after {
    left: 110px;
    width: 50px;
  }
}
/*# sourceMappingURL=mobile.css.map */