@media (max-width: 768px) {
  html {
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    font-family: sans-serif;
    display: block;
    width: 100%;
    margin: 0 auto;
    .mobile-nav {
      z-index: 2;
      top: 0px;
      background: #ffffff;
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
      box-sizing: border-box;
      align-items: center;

      i {
        color: #3f5d45;
        font-size: 20px;
        position: relative;
        display: inline-block;
      }

      .mobile-logo {
        margin-left: 8px;
        width: 165px;
        height: 40px;
      }
      .mobile-cart {
        width: 20px;
        height: 20px;
        position: relative;
      }
    }

    #menu-switch:checked + .menu-inside {
      transform: translateY(0);
    }

    #menu-switch {
      position: absolute;
      opacity: 0;
    }
    .menu-inside {
      z-index: 1;
      position: fixed;
      color: #3f5d45;
      padding: 0 40px;
      top: 40px;
      transform: translateY(-100%);
      transition: 0.3s;
      background: #ffffff;
      width: 315px;
      li {
        height: 32px;
        margin-bottom: 12px;
        border-bottom: #eaf0ed 0.1px solid;
      }
      li:last-child {
        border: 0;
      }
    }

    .mobile-container {
      position: relative;
      margin: 0 auto;
      width: 100%;
      top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      .mobile-success-keepshopping {
        display: inline-block;
        height: 65px;
        width: 100%;
        text-align: center;
        line-height: 65px;
        font-weight: bold;
        color: #3f5d45;
        font-size: 24px;
        background: #ffe180;
      }
      .mobile-success {
        position: relative;
        bottom: -4px;
        .mobile-success-text {
          position: absolute;
          top: 45%;
          right: calc(50% - 100px);
          width: 200px;
          color: #3f5d45;
          text-align: center;
          h1 {
            font-size: 36px;
          }

          .mobile-success-progress {
            display: flex;
            justify-content: space-between;
            margin-bottom: 33px;
            span {
              display: inline-block;
              width: 30px;
              height: 30px;
              background: #3f5d45;
              border-radius: 50%;
              position: relative;
              i {
                font-size: 20px;
                color: #eaf0ed;
                line-height: 30px;
              }
            }
            span:nth-child(2)::before {
              position: absolute;
              content: '';
              width: 60px;
              height: 1px;
              top: 16px;
              right: 28px;
              background: #3f5d45;
            }
            span:nth-child(3)::before {
              position: absolute;
              content: '';
              width: 60px;
              height: 1px;
              top: 16px;
              right: 28px;
              background: #3f5d45;
            }
          }
        }
        img {
          width: 375px;
          height: 518px;
          object-fit: cover;
        }
      }
      .mobile-next {
        position: relative;
        top: 0px;
        display: inline-block;
        height: 65px;
        width: 100%;
        background: #ffe180;
        text-align: center;
        line-height: 65px;
        font-weight: bold;
        color: #3f5d45;
        font-size: 24px;
      }
      .mobile-shipment {
        background: #3f5d45;
        padding: 30px;

        .mobile-shipment-info {
          width: 315px;

          ul {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
              margin-bottom: 16px;

              h3 {
                margin-bottom: 8px;
              }
              select,
              input {
                width: 129px;
                height: 56px;
                padding-left: 20px;
                outline: none;
                font-size: 16px;
                border: 0;
              }
            }
            li:nth-child(3) {
              input {
                width: 295px;
              }
            }
            li:nth-child(4) {
              .mobile-addr {
                display: flex;
                justify-content: space-between;
                color: aqua;
                width: 315px;
                margin-bottom: 8px;
                select {
                  width: 149px;
                  height: 56px;
                  outline: none;
                  font-size: 16px;
                  border: 0;
                }
              }
              input {
                width: 295px;
                height: 56px;
                padding-left: 20px;
                outline: none;
                font-size: 16px;
                border: 0;
              }
            }
          }
        }
        .mobile-invoice-info {
          width: 315px;
          .mobile-invoice-form1 {
            border: 1px solid #eaf0ed;
            margin-bottom: 30px;
            span {
              background: #3f5d45;
              height: 56px;
              width: 153px;
              display: inline-block;
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              color: #eaf0ed;
              line-height: 56px;
            }
            .mobile-email-invoice {
              background: #eaf0ed;
              height: 56px;
              width: 153px;
              display: inline-block;
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              color: #3f5d45;
              line-height: 56px;
            }
          }
          .mobile-invoice-form {
            border: 1px solid #eaf0ed;
            margin-bottom: 30px;
            span:nth-child(2) {
              background: #eaf0ed;
              height: 56px;
              width: 153px;
              display: inline-block;
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              color: #3f5d45;
              line-height: 56px;
            }
            span:nth-child(1) {
              background: #3f5d45;
              height: 56px;
              width: 153px;
              display: inline-block;
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              color: #eaf0ed;
              line-height: 56px;
            }
          }
          ul {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
              margin-bottom: 16px;
              h3 {
                margin-bottom: 8px;
              }
              select,
              input {
                width: 129px;
                height: 56px;
                padding-left: 20px;
                outline: none;
                font-size: 16px;
                border: 0;
              }
            }
            li:nth-child(2) {
              .mobile-addr {
                display: flex;
                justify-content: space-between;
                color: aqua;
                width: 315px;
                margin-bottom: 8px;
                select {
                  width: 149px;
                  height: 56px;
                  outline: none;
                  font-size: 16px;
                  border: 0;
                }
              }
              input {
                color: #8da291;
                width: 295px;
                height: 56px;
                padding-left: 20px;
                outline: none;
                font-size: 16px;
                border: 0;
              }
            }
            li:nth-child(3) {
              input {
                width: 295px;
              }
            }
          }
        }
        .mobile-shipment-title {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          .mobile-process {
            display: flex;
            span {
              position: relative;
              top: 16px;
              background: #3f5d45;
              border: 1px solid #eaf0ed;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              margin-left: 40px;
              position: relative;
            }
            span:nth-child(1) {
              width: 17px;
              height: 17px;
              background: #eaf0ed;
            }
            span:nth-child(2) {
              width: 17px;
              height: 17px;
              background: #eaf0ed;
            }
            span:nth-child(3) {
              width: 14px;
              height: 14px;
              background: #eaf0ed;
              border: 3px double #3f5d45;
            }
            span:nth-child(1)::after {
              content: '';
              position: absolute;
              width: 42px;
              height: 1px;
              top: 8px;
              left: 16px;
              background: #eaf0ed;
            }
            span:nth-child(2)::after {
              content: '';
              position: absolute;
              width: 42px;
              height: 1px;
              top: 8px;
              left: 16px;
              background: #eaf0ed;
            }
          }
        }
        h1 {
          color: #eaf0ed;
          font-size: 36px;
        }
        h3 {
          color: #eaf0ed;
          font-size: 20px;
        }
      }
      .mobile-pay {
        background: #3f5d45;
        padding: 30px;

        .mobile-shipment-info {
          width: 315px;

          ul {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
              margin-bottom: 16px;

              h3 {
                margin-bottom: 8px;
              }
              select,
              input {
                width: 129px;
                height: 56px;
                padding-left: 20px;
                outline: none;
                font-size: 16px;
                border: 0;
              }
            }
            li:nth-child(3) {
              input {
                width: 295px;
              }
            }
            li:nth-child(4) {
              .mobile-addr {
                display: flex;
                justify-content: space-between;
                color: aqua;
                width: 315px;
                margin-bottom: 8px;
                select {
                  width: 149px;
                  height: 56px;
                  outline: none;
                  font-size: 16px;
                  border: 0;
                }
              }
              input {
                width: 295px;
                height: 56px;
                padding-left: 20px;
                outline: none;
                font-size: 16px;
                border: 0;
              }
            }
          }
        }
        .mobile-shipment-title {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          .mobile-process {
            display: flex;
            span {
              position: relative;
              top: 16px;
              background: #3f5d45;
              border: 1px solid #eaf0ed;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              margin-left: 40px;
              position: relative;
            }
            span:nth-child(1) {
              width: 17px;
              height: 17px;
              background: #eaf0ed;
            }
            span:nth-child(2) {
              width: 14px;
              height: 14px;
              background: #eaf0ed;
              border: 3px double #3f5d45;
            }
            span:nth-child(1)::after {
              content: '';
              position: absolute;
              width: 42px;
              height: 1px;
              top: 8px;
              left: 16px;
              background: #eaf0ed;
            }
            span:nth-child(2)::after {
              content: '';
              position: absolute;
              width: 42px;
              height: 1px;
              top: 6px;
              left: 16px;
              background: #eaf0ed;
            }
          }
        }
        h1 {
          color: #eaf0ed;
          font-size: 36px;
        }
        h3 {
          color: #eaf0ed;
          font-size: 20px;
        }
      }
      .mobile-checkout-button {
        display: inline-block;
        text-align: center;
        line-height: 56px;
        height: 56px;
        width: 100%;
        font-size: 24px;
        color: #3f5d45;
        font-weight: bold;
        background: #ffe180;
        position: relative;
        bottom: -12px;
      }
      .mobile-produt-list {
        margin: 0 auto;
        max-width: 357px;
        box-sizing: border-box;
        ul {
          .mobile-summary {
            h1 {
              color: #3f5d45;
              font-size: 24px;
              text-align: center;
              width: 100%;
              height: 56px;
              background: #eaf0ed;
              line-height: 56px;
            }
            .mobile-summary-cal {
              display: flex;
              flex-wrap: wrap;
              color: #3f5d45;
              span {
                margin-top: 8px;
              }
              .mobile-summary-note {
                display: block;
                width: 100%;
                display: flex;
                justify-content: space-between;
              }
              .mobile-summary-shipfee {
                display: block;
                width: 100%;
                display: flex;
                justify-content: space-between;
              }
              .mobile-total {
                font-weight: bold;
                font-size: 20px;
                display: block;
                width: 100%;
                display: flex;
                justify-content: space-between;
              }
            }
          }
          padding: 22px;
          li {
            display: flex;
            flex-wrap: wrap;
            .mobile-product-total {
              display: inline-block;
              width: 100%;
              padding: 8.5px 0;
              border-top: 1px solid #eaf0ed;
              border-bottom: 1px solid #eaf0ed;
              text-align: right;
              color: #3f5d45;
              font-size: 20px;
              margin-top: 8px;
              margin-bottom: 30px;
            }
            .mobile-product-info {
              color: #3f5d45;
              font-size: 20px;
              display: flex;
              flex-wrap: wrap;
              width: 100px;
              .mobile-number {
                display: flex;
                span {
                  border: 1px solid #eaf0ed;
                  text-align: center;
                  line-height: 48px;
                  width: 48px;
                  height: 48px;
                }
              }
              span {
                width: 140px;
                display: inline-block;
              }
            }
            img {
              width: 157px;
              height: 106px;
              object-fit: cover;
              margin-right: 16px;
            }
          }
        }
      }
      .mobile-cart {
        height: 56px;
        width: 100%;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: #3f5d45;
        background: #eaf0ed;
        line-height: 56px;
      }
      .mobile-login {
        position: relative;
        bottom: -12px;
        h1 {
          color: #eaf0ed;
          background: #3f5d45;
          font-size: 36px;
          padding: 30px 115px;
        }
        .login-way {
          display: flex;
          justify-content: center;
          padding: 30px;
          background: #eaf0ed;
          span {
            margin-right: 1px;
            display: inline-block;
            width: 105px;
            height: 56px;
            background: #ffffff;
            img {
              filter: saturate(10%);
              width: 105px;
              height: 56px;
              object-fit: contain;
            }
          }
        }
        .mobile-login-info {
          padding: 30px;
          background: #3f5d45;
          display: flex;
          flex-wrap: wrap;
          color: #eaf0ed;
          position: relative;
          i {
            color: #3f5d45;
            left: 50px;
            font-size: 24px;
            position: absolute;
          }
          .mobile-member {
            top: 45px;
          }
          .mobile-pd {
            top: 115px;
          }
          input {
            width: 315px;
            height: 56px;
            color: #8da291;
            margin-bottom: 16px;
            padding-left: 64px;
            outline: none;
            background: #eaf0ed;
            border: 0;
            font-size: 16px;
          }
          input:focus {
            outline: none;
          }
          .mobile-remember {
            width: 20px;
            height: 20px;
            margin-right: 8px;
          }
        }
        .mobile-login-button {
          display: inline-block;
          height: 56px;
          width: 100%;
          line-height: 56px;
          font-weight: bold;
          text-align: center;
          color: #3f5d45;
          font-size: 24px;
          background: #ffe180;
        }
      }
      .mobile-pages {
        display: flex;
        justify-content: center;
        width: 375px;
        span {
          display: inline-block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          border-right: 1px solid #eaf0ed;
          border-top: 1px solid #eaf0ed;
          border-bottom: 1px solid #eaf0ed;
          margin-bottom: 30px;
          color: #3f5d45;
          font-size: 20px;
          img {
            position: relative;
            top: 5px;
          }
        }
        span:nth-child(2) {
          background: #3f5d45;
          color: #eaf0ed;
        }
        span:nth-child(1) {
          border-left: 1px solid #eaf0ed;
        }
      }
      .mobile-product-class {
        position: relative;
        top: -5px;
        margin-bottom: 30px;
        ul {
          li {
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            line-height: 65px;
            width: 375px;
            height: 65px;
            color: #3f5d45;
            border-bottom: 1px solid #eaf0ed;
          }
          li:nth-child(1) {
            background: #3f5d45;
            color: #eaf0ed;
          }
          li:nth-child(2) {
            background: #eaf0ed;
          }
        }
      }
      .mobile-cards {
        display: flex;
        .mobile-card {
          position: relative;
          top: -5px;
          box-sizing: border-box;
          display: inline-block;
          width: 125px;
          height: 180px;
          writing-mode: vertical-lr;
          line-height: 125px;
          text-align: center;
          background-image: url(../img/p-3.png);
          a {
            display: inline-block;
            color: white;
            background: #3f5d45c4;
            width: 125px;
            height: 180px;
            transition: all 0.3s 0s ease;
            letter-spacing: 4px;
            font-size: 20px;
          }
          a:hover {
            background: #ffe180;
            color: #3f5d45;
            font-weight: bold;
          }
        }
        .mobile-card:nth-child(1) {
          border-right: 1px solid #ffffff;
          background-image: url(../img/p-6.png);
        }
        .mobile-card:nth-child(2) {
          border-right: 1px solid #ffffff;
          background-image: url(../img/p-4.png);
        }
      }
      .mobile-main-pic {
        width: 100%;
        object-fit: cover;
      }
      .mobile-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .mobile-intro-cards {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
              width: 375px;
              height: 250px;
              margin-bottom: 48px;
              object-fit: cover;
            }
            p {
              position: relative;
              top: -5px;
              padding: 30px 30px;
              background: #eaf0ed;
              color: #8da291;
              line-height: 32px;
            }
          }
          h1 {
            color: #3f5d45;
            font-size: 24px;
            text-align: center;
            width: 196px;
            height: 60px;
            margin: 64px 0;
            line-height: 40px;
            letter-spacing: 4px;
            span {
              position: relative;
              right: 20px;
            }
            span::after {
              position: absolute;
              left: 85px;
              top: 50%;
              content: '';
              width: 40px;
              height: 1px;
              background-color: #3f5d45;
              display: inline-block;
            }
          }
          .mobile-slogan-end {
            width: 226px;
            height: 60px;
            span {
              right: 40px;
            }
            span::after {
              left: 110px;
              width: 50px;
            }
          }
        }
      }
      .mobile-fav-list {
        ul {
          padding: 0 37.5px;
          li {
            .mobile-fav {
              position: absolute;
              padding-left: 20px;
              padding-right: 20px;
              span {
                writing-mode: vertical-lr;
                margin-right: 192px;
                background: #3f5d45;
                color: #eaf0ed;
                width: 38px;
                height: 107px;
                line-height: 38px;
                text-align: center;
                letter-spacing: 4px;
              }
              img {
                margin-right: 20px;
                margin-bottom: 70px;
                width: 20px;
                height: 20px;
              }
            }
            p {
              position: relative;
              top: -5px;
              width: 315px;
              display: flex;
              flex-wrap: wrap;
              box-sizing: border-box;
              margin-bottom: 30px;
              span:nth-child(1) {
                display: inline-block;
                width: 183px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                color: #3f5d45;
                font-size: 20px;
                border-right: 1px solid #eaf0ed;
                border-left: 1px solid #eaf0ed;
              }
              span:nth-child(2) {
                display: inline-block;
                width: 114px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                color: #3f5d45;
                font-weight: bold;
                font-size: 20px;
                border-right: 1px solid #eaf0ed;
              }
              span:nth-child(3) {
                display: inline-block;
                width: 300px;
                height: 56px;
                text-align: center;
                line-height: 56px;
                font-weight: bold;
                font-size: 24px;
                color: #3f5d45;
                background: #eaf0ed;
              }
            }
          }
        }
      }
    }
  }
  .mobile-footer {
    position: relative;
    top: -12px;
    .mobile-mail {
      background: #3f5d45;
      padding: 30px 30px;
      .mobile-mail-top {
        font-size: 24px;
        line-height: 40px;
        color: #eaf0ed;
        height: 40px;
        display: flex;
        justify-content: center;
        .mobile-footer-logo {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
      }
      .mobile-mail-input {
        margin-top: 30px;
        height: 56px;
        position: relative;
        input {
          outline: none;
          font-size: 24px;
          width: 80%;
          height: 56px;
          padding-left: 60px;
        }
        img:nth-child(1) {
          position: absolute;
          left: 20px;
          top: calc(50% - 10px);
        }
        span {
          background: #ffe180;
          display: inline-block;
          width: 64px;
          height: 58px;
          position: absolute;
          right: 2px;
          top: 1px;
        }
      }
    }
    .mobile-contact {
      background: #eaf0ed;
      padding: 30px;
      color: #3f5d45;
      font-size: 16px;
      p {
        line-height: 24px;
        margin-bottom: 40px;
      }
      img {
        width: 172px;
        height: 27px;
        margin-bottom: 40px;
      }
      .mobile-contact-social {
        display: flex;
        justify-content: left;
        height: 32px;
        margin-bottom: 23px;
        img {
          width: 32px;
          height: 32px;
          margin-right: 8px;
        }
      }
    }
  }
} ;
