* {
  margin: 0;
  padding: 0;
  font-family: -apple-system;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #3f5d45;
}
.container {
  width: 940px;
  margin: 0 auto;
  .wrap {
    position: relative;
    .main_cards {
      position: absolute;
      top: 400px;
      display: flex;
      margin: 0 74px;
      li {
        display: inline-block;
        width: 260px;
        height: 256px;
        display: flex;
        writing-mode: vertical-lr;
        text-align: center;

        a {
          background: #3f5d45da;
          width: 260px;
          height: 256px;
          color: white;
          filter: blur(0px);
          writing-mode: vertical-lr;
          line-height: 260px;
          transition: all 0.2s 0s ease;
        }

        a:hover {
          background: #ffe180cc;
          color: #3f5d45;
          font-weight: bold;
        }
      }
    }
  }
}

.nav {
  margin: 36.5px 0;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    li {
      margin-left: 60px;
    }
  }
}

.intro {
  margin-top: 227px;
  .class {
    ul {
      display: flex;
      flex-direction: column;
      li {
        height: 65px;
        width: 300px;
        cursor: pointer;
        line-height: 65px;
        text-align: center;
        border: 1px solid #eaf0ed;
        color: #3f5d45;
        transition: all 0.3s 0s ease;
      }

      li:hover {
        background: #eaf0ed;
      }
      li:nth-child(1) {
        background: #3f5d45;
        color: #eaf0ed;
      }
    }
  }
  .productTitle {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid #eaf0ed;
    span {
      display: inline-block;
      height: 56px;
      font-size: 20px;
      line-height: 56px;
      border-right: 1px solid #eaf0ed;
      width: 148px;
      text-align: center;
    }
  }
  .productsList {
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-left: 20px;
        .productCardTop {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          padding: 0 20px;
          img {
            width: 20px;
            height: 20px;
            margin-top: 20px;
          }
          span {
            letter-spacing: 4px;
            display: inline-block;
            width: 36px;
            height: 107px;
            font-weight: normal;
            font-size: 16px;
            writing-mode: vertical-rl;
            background: #3f5d45;
            color: white;
            text-align: center;
            line-height: 36px;
            margin-right: 202px;
            transition: all 0.3s 0s ease;
          }
          span:hover {
            background: #ffe180;
            color: #3f5d45;
          }
        }
        a {
          color: #3f5d45;
          font-weight: bold;
          font-size: 24px;
          text-align: center;
          position: relative;
          background: #eaf0ed;
          display: inline-block;
          width: 300px;
          height: 65px;
          line-height: 65px;
          transition: all 0.3s 0s ease;
        }
        a:hover {
          background: #3f5d45;
          color: #eaf0ed;
        }
      }
    }
  }
  .text {
    h2 {
      margin: 95px auto;
      writing-mode: vertical-rl;
      color: #3f5d45;
      letter-spacing: 4px;
    }
  }
  .card {
    background: #eaf0ed;
    height: 420px;
    margin-bottom: 60px;
    position: relative;

    img {
      width: 460px;
      height: 460px;
    }
  }
  .pic-left {
    left: calc(50% - 460px);
    top: -20px;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 420px;
    .content {
      writing-mode: vertical-rl;
      width: 460px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      h2 {
        color: #3f5d45;
        position: absolute;
        top: -20px;
        letter-spacing: 2px;
      }
      p {
        width: 100%;
        height: 280px;
        top: calc(50% - 120px);
        right: calc(50% - 140px);
        font-size: 16px;
        color: #8da291;
        position: absolute;
        line-height: 48px;
      }
    }
  }
  .pic-right {
    left: calc(50% - 460px);
    top: -20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: absolute;
    height: 420px;
    .content {
      writing-mode: vertical-rl;
      width: 460px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      h2 {
        color: #3f5d45;
        position: absolute;
        top: -20px;
        right: 42px;
        letter-spacing: 2px;
      }
      p {
        width: 100%;
        height: 280px;
        top: calc(50% - 120px);
        right: calc(50% - 100px);
        font-size: 16px;
        color: #8da291;
        position: absolute;
        line-height: 48px;
      }
    }
  }
}

.introProduct {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  width: 940px;
  .class {
    ul {
      display: flex;
      flex-direction: column;
      li {
        height: 65px;
        width: 300px;
        cursor: pointer;
        line-height: 65px;
        text-align: center;
        border: 1px solid #eaf0ed;
        color: #3f5d45;
        transition: all 0.3s 0s ease;
      }

      li:hover {
        background: #eaf0ed;
      }
      li:nth-child(1) {
        background: #3f5d45;
        color: #eaf0ed;
      }
    }
  }
  .productTitle {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid #eaf0ed;
    span {
      display: inline-block;
      height: 56px;
      font-size: 20px;
      line-height: 56px;
      border-right: 1px solid #eaf0ed;
      width: 148px;
      text-align: center;
    }
  }
  .productsList {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 640px;
      li {
        margin-left: 20px;
        .productCardTop {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          padding: 0 20px;
          img {
            width: 20px;
            height: 20px;
            margin-top: 20px;
          }
          span {
            letter-spacing: 4px;
            display: inline-block;
            width: 36px;
            height: 107px;
            font-weight: normal;
            font-size: 16px;
            writing-mode: vertical-rl;
            background: #3f5d45;
            color: white;
            text-align: center;
            line-height: 36px;
            margin-right: 202px;
            transition: all 0.3s 0s ease;
          }
          span:hover {
            background: #ffe180;
            color: #3f5d45;
          }
        }
        a {
          color: #3f5d45;
          font-weight: bold;
          font-size: 24px;
          text-align: center;
          position: relative;
          background: #eaf0ed;
          display: inline-block;
          width: 300px;
          height: 65px;
          line-height: 65px;
          transition: all 0.3s 0s ease;
        }
        a:hover {
          background: #3f5d45;
          color: #eaf0ed;
        }
      }
    }
  }
  .text {
    h2 {
      margin: 95px auto;
      writing-mode: vertical-rl;
      color: #3f5d45;
      letter-spacing: 4px;
    }
  }
  .card {
    background: #eaf0ed;
    height: 420px;
    margin-bottom: 60px;
    position: relative;

    img {
      width: 460px;
      height: 460px;
    }
  }
  .pic-left {
    left: calc(50% - 460px);
    top: -20px;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 420px;
    .content {
      writing-mode: vertical-rl;
      width: 460px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      h2 {
        color: #3f5d45;
        position: absolute;
        top: -20px;
        letter-spacing: 2px;
      }
      p {
        width: 100%;
        height: 280px;
        top: calc(50% - 120px);
        right: calc(50% - 140px);
        font-size: 16px;
        color: #8da291;
        position: absolute;
        line-height: 48px;
      }
    }
  }
  .pic-right {
    left: calc(50% - 460px);
    top: -20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: absolute;
    height: 420px;
    .content {
      writing-mode: vertical-rl;
      width: 460px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      h2 {
        color: #3f5d45;
        position: absolute;
        top: -20px;
        right: 42px;
        letter-spacing: 2px;
      }
      p {
        width: 100%;
        height: 280px;
        top: calc(50% - 120px);
        right: calc(50% - 100px);
        font-size: 16px;
        color: #8da291;
        position: absolute;
        line-height: 48px;
      }
    }
  }
}

footer {
  margin-top: 60px;
  .contact {
    height: 340px;
    background: #eaf0ed;
    display: flex;
    justify-content: center;
    color: #3f5d45;
    .slogan {
      width: 380px;
      margin-top: 30px;
      margin-left: 160px;
      display: flex;
      flex-wrap: wrap;
      span {
        display: block;
        width: 380px;
        height: 16px;
        text-align: right;
      }
      h4 {
        font-size: 24px;
        width: 380px;
        writing-mode: vertical-rl;
      }
    }
    .info {
      margin-right: 160px;
      margin-top: 39px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 227px;
      font-size: 16px;
      img {
        width: 172px;
        height: 27px;
      }
      ul {
        height: 50px;
      }
      .icon {
        display: flex;
        justify-content: start;
        img {
          margin-top: 30px;
          margin-bottom: 30px;
          margin-right: 8px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .mail {
    background: #3f5d45;
    height: 116px;
    display: flex;
    justify-content: center;
    line-height: 116px;
    .search {
      margin-left: 110px;
      position: relative;
      .send {
        cursor: pointer;
        top: 26px;
        right: 0;
        position: absolute;
        width: 64px;
        height: 56px;
        background: #ffe180;
        display: flex;
        align-items: center;
        .arrowForward {
          width: 20px;
          height: 20px;
          margin: 0 auto;
        }
      }
      .mailImg {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 42px;
        left: 26px;
      }

      input {
        outline: none;
        border: 0;
        width: 380px;
        height: 56px;
        padding-left: 64px;
        font-size: 28px;
      }
    }
    .mailRight {
      margin-right: 110px;
      display: flex;
      img {
        margin: 38px 20px 38px 0;
        width: 40px;
        height: 40px;
      }
      h4 {
        color: #eaf0ed;
        font-size: 24px;
        font-weight: normal;
      }
    }
  }
}

.member {
  display: flex;
  margin: 80px auto 80px auto;
  width: 780px;
  justify-content: center;
  .community {
    color: #8da291;
    width: 390px;
    background: white;
    padding: 15px 0;
    .communityInside {
      background: #eaf0ed;
      height: 350px;
      font-size: 24px;
      text-align: center;
      span {
        display: inline-block;
        padding: 40px 67px;
      }
      li {
        a {
          display: inline-block;
          width: 330px;
          height: 56px;
          background: #ffffff;
          margin-bottom: 16px;
          line-height: 56px;
          img {
            -webkit-filter: grayscale(1);
            width: 330px;
            height: 56px;
            object-fit: contain;
            transition: all 0.3s 0s ease;
          }
          img:hover {
            -webkit-filter: grayscale(0);
          }
        }
      }
    }
  }
  .login {
    color: #eaf0ed;
    background: #3f5d45;
    width: 390px;
    height: 380px;
    li {
      position: relative;

      i {
        top: calc(50% - 12px);
        color: #3f5d45;
        left: 40px;
        font-size: 24px;
        position: absolute;
      }
    }
    h1 {
      margin: 40px 125px;
    }
    input {
      padding-left: 48px;
      margin: 8px 30px;
      width: 282px;
      height: 56px;
    }
    input:nth-child(3) {
      width: 16px;
      height: 16px;
      margin: 8px 8px 16px 30px;
    }

    span:nth-child(3) {
      cursor: pointer;
      display: block;
      margin: 10px 0;
      background: #ffe180;
      height: 65px;
      text-align: center;
      line-height: 65px;
      color: #3f5d45;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
.cart {
  color: #3f5d45;
  width: 940px;
  margin: 80px auto 80px auto;
  display: flex;
  .cartSummary {
    width: 300px;
    background: #3f5d45;
    height: 200px;
    color: #eaf0ed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    button {
      display: inline-block;
      background: #ffe180;
      width: 300px;
      height: 65px;
      line-height: 65px;
      color: #3f5d45;
      font-size: 24px;
      font-weight: bold;
      border: 0;
      cursor: pointer;
      margin-top: 16px;
    }
    p {
      display: block;
      padding-bottom: 20px;
      width: 250px;
      margin: 16px 0;
      font-size: 24px;
      border-bottom: 1px solid #eaf0ed;
    }
    .cal {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 300px;
      text-align: center;
      align-items: center;
      p {
        height: 16px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        border: 0;
        margin-bottom: 8px;
        font-size: 16px;
        span {
          display: inline-block;
          border: 0;
        }
      }
      p:nth-child(3) {
        margin-top: 8px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  img {
    width: 110px;
    height: 110px;
    object-fit: contain;
  }
  .cartProducts {
    margin-right: 20px;
    ul {
      width: 620px;
      i {
        line-height: 130px;
      }
      li {
        margin: 20px 0;
        padding-bottom: 20px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        border-bottom: 1px solid #eaf0ed;
        align-items: center;
        i {
          cursor: pointer;
        }
        span {
          background: white;
        }
        .totalPrice {
          font-weight: bold;
        }
        .number {
          span {
            display: inline-block;
            width: 48px;
            height: 48px;
            border: 1px solid #eaf0ed;
            line-height: 16px;
            text-align: center;
            line-height: 48px;
          }
          span:nth-child(odd) {
            cursor: pointer;
          }
        }
        .productName {
          text-align: left;
          line-height: 16px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 108px;
          height: 48px;
          span {
            display: block;
            height: 16px;
            width: 108px;
          }
        }
      }
    }
    .cartTitle {
      color: #3f5d45;
      text-align: center;
      line-height: 65px;
      font-size: 24px;
      font-weight: bold;
      width: 620px;
      height: 65px;
      display: inline-block;
      background: #eaf0ed;
      margin-bottom: 20px;
    }
  }
}
