* {
  margin: 0;
  padding: 0;
  font-family: -apple-system;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3f5d45;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container .wrap {
  position: relative;
}

.container .wrap .main_cards {
  position: absolute;
  top: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 74px;
}

.container .wrap .main_cards li {
  display: inline-block;
  width: 260px;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
}

.container .wrap .main_cards li a {
  background: #3f5d45da;
  width: 260px;
  height: 256px;
  color: white;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 260px;
  -webkit-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease;
}

.container .wrap .main_cards li a:hover {
  background: #ffe180cc;
  color: #3f5d45;
  font-weight: bold;
}

.nav {
  margin: 36.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li {
  margin-left: 60px;
}

.intro {
  margin-top: 227px;
}

.intro .class ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro .class ul li {
  height: 65px;
  width: 300px;
  cursor: pointer;
  line-height: 65px;
  text-align: center;
  border: 1px solid #eaf0ed;
  color: #3f5d45;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.intro .class ul li:hover {
  background: #eaf0ed;
}

.intro .class ul li:nth-child(1) {
  background: #3f5d45;
  color: #eaf0ed;
}

.intro .productTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #eaf0ed;
}

.intro .productTitle span {
  display: inline-block;
  height: 56px;
  font-size: 20px;
  line-height: 56px;
  border-right: 1px solid #eaf0ed;
  width: 148px;
  text-align: center;
}

.intro .productsList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .productsList ul li {
  margin-left: 20px;
}

.intro .productsList ul li .productCardTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  padding: 0 20px;
}

.intro .productsList ul li .productCardTop img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}

.intro .productsList ul li .productCardTop span {
  letter-spacing: 4px;
  display: inline-block;
  width: 36px;
  height: 107px;
  font-weight: normal;
  font-size: 16px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  background: #3f5d45;
  color: white;
  text-align: center;
  line-height: 36px;
  margin-right: 202px;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.intro .productsList ul li .productCardTop span:hover {
  background: #ffe180;
  color: #3f5d45;
}

.intro .productsList ul li a {
  color: #3f5d45;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  position: relative;
  background: #eaf0ed;
  display: inline-block;
  width: 300px;
  height: 65px;
  line-height: 65px;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.intro .productsList ul li a:hover {
  background: #3f5d45;
  color: #eaf0ed;
}

.intro .text h2 {
  margin: 95px auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #3f5d45;
  letter-spacing: 4px;
}

.intro .card {
  background: #eaf0ed;
  height: 420px;
  margin-bottom: 60px;
  position: relative;
}

.intro .card img {
  width: 460px;
  height: 460px;
}

.intro .pic-left {
  left: calc(50% - 460px);
  top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 420px;
}

.intro .pic-left .content {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.intro .pic-left .content h2 {
  color: #3f5d45;
  position: absolute;
  top: -20px;
  letter-spacing: 2px;
}

.intro .pic-left .content p {
  width: 100%;
  height: 280px;
  top: calc(50% - 120px);
  right: calc(50% - 140px);
  font-size: 16px;
  color: #8da291;
  position: absolute;
  line-height: 48px;
}

.intro .pic-right {
  left: calc(50% - 460px);
  top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  height: 420px;
}

.intro .pic-right .content {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.intro .pic-right .content h2 {
  color: #3f5d45;
  position: absolute;
  top: -20px;
  right: 42px;
  letter-spacing: 2px;
}

.intro .pic-right .content p {
  width: 100%;
  height: 280px;
  top: calc(50% - 120px);
  right: calc(50% - 100px);
  font-size: 16px;
  color: #8da291;
  position: absolute;
  line-height: 48px;
}

.introProduct {
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 940px;
}

.introProduct .class ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introProduct .class ul li {
  height: 65px;
  width: 300px;
  cursor: pointer;
  line-height: 65px;
  text-align: center;
  border: 1px solid #eaf0ed;
  color: #3f5d45;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.introProduct .class ul li:hover {
  background: #eaf0ed;
}

.introProduct .class ul li:nth-child(1) {
  background: #3f5d45;
  color: #eaf0ed;
}

.introProduct .productTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #eaf0ed;
}

.introProduct .productTitle span {
  display: inline-block;
  height: 56px;
  font-size: 20px;
  line-height: 56px;
  border-right: 1px solid #eaf0ed;
  width: 148px;
  text-align: center;
}

.introProduct .productsList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 640px;
}

.introProduct .productsList ul li {
  margin-left: 20px;
}

.introProduct .productsList ul li .productCardTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  padding: 0 20px;
}

.introProduct .productsList ul li .productCardTop img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}

.introProduct .productsList ul li .productCardTop span {
  letter-spacing: 4px;
  display: inline-block;
  width: 36px;
  height: 107px;
  font-weight: normal;
  font-size: 16px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  background: #3f5d45;
  color: white;
  text-align: center;
  line-height: 36px;
  margin-right: 202px;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.introProduct .productsList ul li .productCardTop span:hover {
  background: #ffe180;
  color: #3f5d45;
}

.introProduct .productsList ul li a {
  color: #3f5d45;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  position: relative;
  background: #eaf0ed;
  display: inline-block;
  width: 300px;
  height: 65px;
  line-height: 65px;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.introProduct .productsList ul li a:hover {
  background: #3f5d45;
  color: #eaf0ed;
}

.introProduct .text h2 {
  margin: 95px auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #3f5d45;
  letter-spacing: 4px;
}

.introProduct .card {
  background: #eaf0ed;
  height: 420px;
  margin-bottom: 60px;
  position: relative;
}

.introProduct .card img {
  width: 460px;
  height: 460px;
}

.introProduct .pic-left {
  left: calc(50% - 460px);
  top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 420px;
}

.introProduct .pic-left .content {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.introProduct .pic-left .content h2 {
  color: #3f5d45;
  position: absolute;
  top: -20px;
  letter-spacing: 2px;
}

.introProduct .pic-left .content p {
  width: 100%;
  height: 280px;
  top: calc(50% - 120px);
  right: calc(50% - 140px);
  font-size: 16px;
  color: #8da291;
  position: absolute;
  line-height: 48px;
}

.introProduct .pic-right {
  left: calc(50% - 460px);
  top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  height: 420px;
}

.introProduct .pic-right .content {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.introProduct .pic-right .content h2 {
  color: #3f5d45;
  position: absolute;
  top: -20px;
  right: 42px;
  letter-spacing: 2px;
}

.introProduct .pic-right .content p {
  width: 100%;
  height: 280px;
  top: calc(50% - 120px);
  right: calc(50% - 100px);
  font-size: 16px;
  color: #8da291;
  position: absolute;
  line-height: 48px;
}

footer {
  margin-top: 60px;
}

footer .contact {
  height: 340px;
  background: #eaf0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3f5d45;
}

footer .contact .slogan {
  width: 380px;
  margin-top: 30px;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .contact .slogan span {
  display: block;
  width: 380px;
  height: 16px;
  text-align: right;
}

footer .contact .slogan h4 {
  font-size: 24px;
  width: 380px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

footer .contact .info {
  margin-right: 160px;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 227px;
  font-size: 16px;
}

footer .contact .info img {
  width: 172px;
  height: 27px;
}

footer .contact .info ul {
  height: 50px;
}

footer .contact .info .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .contact .info .icon img {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

footer .mail {
  background: #3f5d45;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 116px;
}

footer .mail .search {
  margin-left: 110px;
  position: relative;
}

footer .mail .search .send {
  cursor: pointer;
  top: 26px;
  right: 0;
  position: absolute;
  width: 64px;
  height: 56px;
  background: #ffe180;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .mail .search .send .arrowForward {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

footer .mail .search .mailImg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 42px;
  left: 26px;
}

footer .mail .search input {
  outline: none;
  border: 0;
  width: 380px;
  height: 56px;
  padding-left: 64px;
  font-size: 28px;
}

footer .mail .mailRight {
  margin-right: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .mail .mailRight img {
  margin: 38px 20px 38px 0;
  width: 40px;
  height: 40px;
}

footer .mail .mailRight h4 {
  color: #eaf0ed;
  font-size: 24px;
  font-weight: normal;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px auto 80px auto;
  width: 780px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member .community {
  color: #8da291;
  width: 390px;
  background: white;
  padding: 15px 0;
}

.member .community .communityInside {
  background: #eaf0ed;
  height: 350px;
  font-size: 24px;
  text-align: center;
}

.member .community .communityInside span {
  display: inline-block;
  padding: 40px 67px;
}

.member .community .communityInside li a {
  display: inline-block;
  width: 330px;
  height: 56px;
  background: #ffffff;
  margin-bottom: 16px;
  line-height: 56px;
}

.member .community .communityInside li a img {
  -webkit-filter: grayscale(1);
  width: 330px;
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.member .community .communityInside li a img:hover {
  -webkit-filter: grayscale(0);
}

.member .login {
  color: #eaf0ed;
  background: #3f5d45;
  width: 390px;
  height: 380px;
}

.member .login li {
  position: relative;
}

.member .login li i {
  top: calc(50% - 12px);
  color: #3f5d45;
  left: 40px;
  font-size: 24px;
  position: absolute;
}

.member .login h1 {
  margin: 40px 125px;
}

.member .login input {
  padding-left: 48px;
  margin: 8px 30px;
  width: 282px;
  height: 56px;
}

.member .login input:nth-child(3) {
  width: 16px;
  height: 16px;
  margin: 8px 8px 16px 30px;
}

.member .login span:nth-child(3) {
  cursor: pointer;
  display: block;
  margin: 10px 0;
  background: #ffe180;
  height: 65px;
  text-align: center;
  line-height: 65px;
  color: #3f5d45;
  font-size: 24px;
  font-weight: bold;
}

.cart {
  color: #3f5d45;
  width: 940px;
  margin: 80px auto 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cartSummary {
  width: 300px;
  background: #3f5d45;
  height: 200px;
  color: #eaf0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cartSummary button {
  display: inline-block;
  background: #ffe180;
  width: 300px;
  height: 65px;
  line-height: 65px;
  color: #3f5d45;
  font-size: 24px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  margin-top: 16px;
}

.cart .cartSummary p {
  display: block;
  padding-bottom: 20px;
  width: 250px;
  margin: 16px 0;
  font-size: 24px;
  border-bottom: 1px solid #eaf0ed;
}

.cart .cartSummary .cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 300px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cartSummary .cal p {
  height: 16px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.cart .cartSummary .cal p span {
  display: inline-block;
  border: 0;
}

.cart .cartSummary .cal p:nth-child(3) {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
}

.cart img {
  width: 110px;
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart .cartProducts {
  margin-right: 20px;
}

.cart .cartProducts ul {
  width: 620px;
}

.cart .cartProducts ul i {
  line-height: 130px;
}

.cart .cartProducts ul li {
  margin: 20px 0;
  padding-bottom: 20px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #eaf0ed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cartProducts ul li i {
  cursor: pointer;
}

.cart .cartProducts ul li span {
  background: white;
}

.cart .cartProducts ul li .totalPrice {
  font-weight: bold;
}

.cart .cartProducts ul li .number span {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid #eaf0ed;
  line-height: 16px;
  text-align: center;
  line-height: 48px;
}

.cart .cartProducts ul li .number span:nth-child(odd) {
  cursor: pointer;
}

.cart .cartProducts ul li .productName {
  text-align: left;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108px;
  height: 48px;
}

.cart .cartProducts ul li .productName span {
  display: block;
  height: 16px;
  width: 108px;
}

.cart .cartProducts .cartTitle {
  color: #3f5d45;
  text-align: center;
  line-height: 65px;
  font-size: 24px;
  font-weight: bold;
  width: 620px;
  height: 65px;
  display: inline-block;
  background: #eaf0ed;
  margin-bottom: 20px;
}

.delievery {
  margin: 0 auto;
  margin-bottom: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 800px;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delievery .delInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
}

.delievery .delInfo .creditCardBack {
  margin-top: 30px;
  position: relative;
}

.delievery .delInfo .creditCardBack input {
  margin: 8px 0;
  margin-bottom: 30px;
  padding-left: 20px;
  width: 160px;
  height: 56px;
  font-size: 20px;
}

.delievery .delInfo .creditCard {
  margin-top: 30px;
  position: relative;
}

.delievery .delInfo .creditCard input {
  margin: 8px 0;
  padding-left: 20px;
  width: 354px;
  height: 56px;
  font-size: 20px;
}

.delievery .delInfo .creditCard i {
  color: #3f5d45;
  position: absolute;
  top: 54%;
  right: 20px;
}

.delievery .delInfo .cardFirstName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-right: 6px;
  font-size: 20px;
}

.delievery .delInfo .cardFirstName p {
  width: 380px;
}

.delievery .delInfo .cardFirstName input {
  margin: 8px 0;
  padding-left: 20px;
  width: 160px;
  height: 56px;
  font-size: 20px;
}

.delievery .delInfo .cardFirstName input:nth-child(3) {
  margin-left: 8px;
}

.delievery .delInfo .infoTel input {
  margin: 8px 0;
  padding-left: 20px;
  width: 354px;
  height: 56px;
  font-size: 20px;
}

.delievery .delInfo .infoLastName {
  margin-top: 30px;
}

.delievery .delInfo .infoLastName input {
  margin: 8px 0;
  padding-left: 20px;
  width: 160px;
  height: 56px;
  font-size: 20px;
}

.delievery .delInfo .infoFirstName {
  margin-bottom: 8px;
  margin-top: 30px;
  margin-right: 6px;
  font-size: 20px;
}

.delievery .delInfo .infoFirstName input {
  margin: 8px 0;
  padding-left: 20px;
  width: 164px;
  height: 56px;
  font-size: 20px;
}

.delievery .delInfo .infoAddr {
  width: 380px;
}

.delievery .delInfo .infoAddr p {
  margin-bottom: 8px;
}

.delievery .delInfo .infoAddr input {
  margin: 8px 0;
  width: 354px;
  height: 56px;
  font-size: 20px;
  padding-left: 20px;
}

.delievery .delInfo .infoAddr select {
  margin-right: 1px;
  font-size: 20px;
  height: 56px;
  width: 186px;
  padding-left: 20px;
}

.delievery .delInfo .dueTime {
  width: 380px;
}

.delievery .delInfo .dueTime p {
  margin-bottom: 8px;
}

.delievery .delInfo .dueTime input {
  margin: 8px 0;
  width: 354px;
  height: 56px;
  font-size: 20px;
  padding-left: 20px;
}

.delievery .delInfo .dueTime select {
  margin-right: 1px;
  font-size: 20px;
  height: 56px;
  width: 186px;
  padding-left: 20px;
}

.delievery .delDetail {
  padding: 30px 40px;
  width: 380px;
  height: auto;
  background: #3f5d45;
  color: #eaf0ed;
  margin-right: 20px;
  position: relative;
}

.delievery .delDetail .next {
  line-height: 65px;
  text-align: center;
  color: #3f5d45;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: -50px;
  display: block;
  width: 460px;
  height: 65px;
  background: #ffe180;
}

.delievery .delDetail .delDetailTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delievery .delDetail .delDetailTitle .step-1 span:nth-child(1) {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  border: 4px double #3f5d45;
}

.delievery .delDetail .delDetailTitle .step-1 span:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  width: 38px;
  height: 1px;
  top: 50%;
  right: 21px;
  background: #eaf0ed;
}

.delievery .delDetail .delDetailTitle .step-1 span:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  width: 38px;
  height: 1px;
  top: 50%;
  right: 21px;
  background: #eaf0ed;
}

.delievery .delDetail .delDetailTitle .step-1 span {
  position: relative;
  margin-left: 34px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #3f5d45;
  border: 1px solid;
  border-radius: 50%;
}

.delievery .delDetail .delDetailTitle .step-2 span:nth-child(1) {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.delievery .delDetail .delDetailTitle .step-2 span:nth-child(2) {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  border: 4px double #3f5d45;
}

.delievery .delDetail .delDetailTitle .step-2 span:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  width: 38px;
  height: 1px;
  top: 50%;
  right: 21px;
  background: #eaf0ed;
}

.delievery .delDetail .delDetailTitle .step-2 span:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  width: 38px;
  height: 1px;
  top: 50%;
  right: 21px;
  background: #eaf0ed;
}

.delievery .delDetail .delDetailTitle .step-2 span {
  position: relative;
  margin-left: 34px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #3f5d45;
  border: 1px solid;
  border-radius: 50%;
}

.delievery .delDetail .delDetailTitle .step-3 span:nth-child(1) {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.delievery .delDetail .delDetailTitle .step-3 span:nth-child(2) {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.delievery .delDetail .delDetailTitle .step-3 span:nth-child(3) {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  border: 4px double #3f5d45;
}

.delievery .delDetail .delDetailTitle .step-3 span:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  width: 38px;
  height: 1px;
  top: 50%;
  right: 21px;
  background: #eaf0ed;
}

.delievery .delDetail .delDetailTitle .step-3 span:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  width: 38px;
  height: 1px;
  top: 50%;
  right: 21px;
  background: #eaf0ed;
}

.delievery .delDetail .delDetailTitle .step-3 span {
  position: relative;
  margin-left: 34px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #3f5d45;
  border: 1px solid;
  border-radius: 50%;
}

.delievery .delDetail .delDetailTitle .progress {
  height: 50px;
  line-height: 50px;
}

.delievery .cartList {
  margin-top: 20px;
}

.delievery .cartList .cartListTitle {
  background: #eaf0ed;
  color: #8da291;
  font-size: 24px;
  text-align: center;
  height: 65px;
  line-height: 65px;
}

.delievery .cartList ul {
  max-width: 300px;
  max-height: 270px;
  overflow: scroll;
  padding: 16px 20px;
  border: 1px solid #eaf0ed;
}

.delievery .cartList ul li {
  cursor: pointer;
  color: #8da291;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}

.delievery .cartList ul li .cartListContent {
  font-size: 16px;
}

.delievery .cartList ul li .cartListContent p:nth-child(2) {
  margin: 2px 0;
  font-weight: bold;
  font-size: 20px;
}

.delievery .cartList ul li .cartListContent p {
  height: 22px;
}

.delievery .cartList ul li img {
  width: 120px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.delievery .cartList ul::-webkit-scrollbar {
  display: none;
}

.delievery .cartSummaryLight {
  height: 193px;
  width: 300px;
  background: #eaf0ed;
  height: 244;
  color: #8da291;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #eaf0ed 1px solid;
}

.delievery .cartSummaryLight p {
  display: block;
  width: 250px;
  margin: 16px 0;
  font-size: 24px;
  border-bottom: 1px solid #eaf0ed;
}

.delievery .cartSummaryLight .cal {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 300px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

.delievery .cartSummaryLight .cal p {
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.delievery .cartSummaryLight .cal p span {
  display: inline-block;
  border: 0;
}

.delievery .cartSummaryLight .cal p:nth-child(3) {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
}

.success {
  position: relative;
}

.success .progress {
  text-align: center;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}

.success .progress span {
  margin: 0 40px;
  position: relative;
  display: inline-block;
  background: #eaf0ed;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}

.success .progress span:nth-child(4)::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 85px;
  height: 2px;
  background: #eaf0ed;
}

.success .progress span:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 85px;
  height: 2px;
  background: #eaf0ed;
}

.success .progress p {
  margin-top: 20px;
  cursor: pointer;
  font-size: 24px;
  line-height: 65px;
  text-align: center;
  color: #3f5d45;
  width: 300px;
  height: 65px;
  background: #ffe180;
  font-weight: bold;
}

.success .progress h1 {
  margin-top: 120px;
  font-size: 48px;
  color: #eaf0ed;
}

.success img {
  width: 940px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */